.titleResultFile {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 25px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
}
.sectionHeaderContainerResultFile {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
  padding-block: 15px;
  width: 170px;
  border-radius: 13px 13px 0 0;
  background: #676767;
  cursor: pointer;
}
.sectionHeaderContainerResultFileActive {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
  padding-block: 15px;
  width: 170px;
  border-radius: 13px 13px 0 0;
  background: #434343;
  cursor: pointer;
}
.headerContainerResultFile {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0;
  margin-left: 44px;
}
.textContScrollResultFile {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #000;
  height: 100%;
  display: flex;
  width: calc(100% - 88px);
  margin: 30px 44px;
  overflow-y: auto;
}

.textContScrollResultFile::-webkit-scrollbar {
  width: 6px;
}

.textContScrollResultFile::-webkit-scrollbar-thumb {
  background-color: rgb(86, 85, 85);
  border-radius: 30px;
  height: 20px;
}

.textContScrollResultFile::-webkit-scrollbar-track {
  background-color: rgb(180, 179, 179);
}

.textContResultFile {
  height: calc(100vh - 380px - 15px);
  width: 100%;
  box-shadow: 6px 8px 7px 0 #060164;
  background: #f1f5f9;
  border-radius: 36px;
  overflow: hidden;
  padding-bottom: 60px;
}
.containerResultFile {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: start;
  justify-content: center;
  max-width: 898px;
  width: 100%;
  margin-bottom: 35px;
}
.resultFile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
  width: 100%;
}
.btnBottomResultFile {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 21px;
  letter-spacing: -0.03em;
  color: #bebaba;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 148px;
  padding-block: 4px;
  border: 1px solid #bebaba;
  border-radius: 16px;
}
.blockResultFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
}
.textLoadingResultFile {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 34px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #aba7a7;
  margin-top: 200px;
}
