.input {
  width: calc(100% - 36px);
  height: 44px;
  background-color: rgba(48, 48, 48, 1);
  color: rgb(230, 230, 230);
  border: none;
  border-radius: 10px;
  padding-inline: 18px;
  font-family: "SF Pro Display";
  font-size: 16px;
  outline: none;
}
.input::placeholder {
  color: B4B4B4;
  font-size: 16px;
  font-weight: 400;
  font-family: "SF Pro Display";
  letter-spacing: -0.03em;
}
input:focus::placeholder {
  color: transparent;
}
input:focus {
  color: rgb(230, 230, 230);
}

textarea.input {
  resize: none;
  overflow: auto;
  padding-top: 14px;
}
